<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tedx.capetown.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.tedx.capetown.app.DefaultApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.tedx.capetown.app.presentation.activity.BaseActivity" >
        </activity>
        <activity
            android:name="com.tedx.capetown.app.presentation.activity.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.tedx.capetown.app.presentation.activity.AgendaActivity"
            android:label="@string/title_activity_agenda" >
        </activity>
        <activity
            android:name="com.tedx.capetown.app.presentation.activity.EventActivity"
            android:label="@string/title_activity_event" >
        </activity>
        <activity
            android:name="com.tedx.capetown.app.presentation.activity.MoreInfoActivity"
            android:label="@string/title_activity_more_info" >
        </activity>
        <activity
            android:name="com.tedx.capetown.app.presentation.activity.SpeakerProfileActivity"
            android:label="@string/title_activity_speaker_profile" >
        </activity>
        <activity
            android:name="com.tedx.capetown.app.presentation.activity.SpeakerListActivity"
            android:label="@string/title_activity_speaker_list" >
        </activity>
        <activity
            android:name="com.tedx.capetown.app.presentation.activity.SponsorsActivity"
            android:label="@string/title_activity_sponsors" >
        </activity>
        <activity
            android:name="com.tedx.capetown.app.presentation.activity.TalkActivity"
            android:label="@string/title_activity_talk" >
        </activity>

        <activity
            android:name="com.tedx.capetown.app.presentation.activity.SplashActivity"
            android:label="@string/title_activity_splash" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name="com.tedx.capetown.app.TabbedActivity"
            android:label="@string/title_activity_tabbed" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.HOME" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <service
            android:name="com.tedx.capetown.app.core.service.impl.SpeakerService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.tedx.capetown.app.core.service.request.SpeakerCollectionServiceRequest" />
                <action android:name="com.tedx.capetown.app.core.service.request.SpeakerModelServiceRequest" />
            </intent-filter>
        </service>
        <service
            android:name="com.tedx.capetown.app.core.service.impl.EventService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.tedx.capetown.app.core.service.request.EventCollectionServiceRequest" />
                <action android:name="com.tedx.capetown.app.core.service.request.EventModelServiceRequest" />
            </intent-filter>
        </service>

        <activity
            android:name="com.tedx.capetown.app.presentation.activity.SessionActivity"
            android:label="@string/title_activity_session" >
        </activity>

    </application>

</manifest>